<!--Register -->
<div
  class="modal fade"
  id="registerModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="#">ลงทะเบียนสมัครสมาชิก</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="Name" class="form-label">ชื่อ-สกุล</label>
          <input class="form-control" id="Name" maxlength="40" />
        </div>
        <div class="mb-3">
          <label for="sex" class="form-label">เพศ</label><br />
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="radio"
              name="male"
              id="sex"
              value="checkedValue"
            />
            ชาย
          </label>
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="radio"
              name="male"
              id="sex"
              value="checkedValue"
            />
            หญิง
          </label>
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">ที่อยู่</label>
          <input class="form-control" id="address" maxlength="40" />
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">โทรศัพท์</label>
          <input type="number" class="form-control" id="phone" maxlength="40" />
        </div>
        <div class="mb-3">
          <label for="Username" class="form-label">Username</label>
          <input
            type="email"
            class="form-control"
            id="Username"
            maxlength="30"
          />
        </div>
        <div class="mb-3">
          <label for="psssword" class="form-label">psssword</label>
          <input
            type="password"
            class="form-control"
            id="Username"
            maxlength="30"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          ยกเลิก
        </button>
        <button type="button" class="btn btn-primary">สมัครสมาชิก</button>
      </div>
    </div>
  </div>
</div>
