<!--Login Modal-->
<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="#">เข้าสู่ระบบ</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="Username" class="form-label">Username</label>
          <input
            type="email"
            class="form-control"
            id="Username"
            maxlength="30"
            
          />
        </div>
        <div class="mb-3">
          <label for="psssword" class="form-label"
            >psssword</label
          >
          <input
            type="password"
            class="form-control"
            id="Username"
            maxlength="30"
            
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">เข้าระบบ</button>
      </div>
    </div>
  </div>
</div>
<!--End Login Modal-->