
<style>
  dd{
    text-indent:30px;
  }
</style>
<div class="container marketing">
  <!-- START THE FEATURETTES -->

  <div class="row featurette">
    <div class="col-md-7" style="text-indent:30px; ">
      <h2 class="featurette-heading" style="margin-top: 20px; ">1.1 หลักการและเหตุผล</h2>
      <p class="lead text-indent:50px;">
        &nbsp;ในปัจจุบันเทคโนโลยีสารสนเทศได้มีความสำคัญในหลาย ๆ ด้าน เช่น การศึกษา
        การวิจัย การพัฒนาสังคม และวัฒนธรรม เป็นต้น
        การรู้จักใช้และเข้าถึงสารสนเทศอย่างสม่ำเสมอทำให้ได้รับข่าวสารที่ทันสมัยและทำให้เกิดความรู้เพิ่มพูนสติปัญญา
        และคุณธรรม
        และการนำเทคโนโลยีเข้าไปใช้ภายในองค์กรยังทำให้เกิดข้อได้เปรียบทางการแข่งขันให้แก่หลายองค์กร
        โดยเทคโนโลยีเว็บแอพพลิเคชัน (Web Application)
        เป็นโปรแกรมที่พัฒนาขึ้นมาสำหรับใช้ภายในองค์กรต่าง ๆ
        ผ่านเว็บเบราว์เซอร์โดยมีฐานข้อมูลไว้สำหรับเก็บข้อมูลทำให้ง่าย
        และสะดวกต่อการใช้งานเพราะทุก ๆ
        คอมพิวเตอร์นั้นจะต้องมีเว็บเบราว์เซอร์จึงไม่ต้องเสียเวลาในการติดตั้ง
        สามารถควบคุม และอัพเดทโปรแกรมได้ในจุดเดียว มีค่าใช้จ่าย
        และค่าบำรุงรักษาไม่สูงนัก ซึ่งจะทำให้เสียค่าใช้จ่ายลดน้อยลง
        โดยตัวอย่างของเว็บแอพพลิเคชันที่ มีใช้งานกันในปัจจุบัน ได้แก่
        ระบบร้านเช่าวีดีโอ ระบบจองตั๋วรถไฟ-ตัวเครื่องบิน เป็นต้น
        ซึ่งการนำซอฟต์แวร์ประเภทเว็บแอพพลิเคชั่นมาใช้ในองค์กรสามารถช่วยให้การบริหารจัดการองค์กรมีประสิทธิภาพมากยิ่งขึ้น
      </p>
      <p class="lead">
        &nbsp;ธุรกิจร้านอาหารเป็นธุรกิจที่มีความนิยม
        และมีการแข่งขันกันมากในยุคปัจจุบัน เนื่องจากวิถี
        ชีวิตของผู้คนนั้นเปลี่ยนแปลงไปตามยุคสมัย
        ผู้คนทำงานนอกบ้านกันเป็นส่วนมากจึงทำให้มีเวลาในการประกอบอาหารรับประทานเองน้อยลง
        จึงเลือกที่จะออกไปใช้บริการรับประทานอาหารตามร้านอาหารทั่วไปมากขึ้น
        ดังนั้น
        ร้านอาหารจึงต้องมีระบบการจัดการร้านอาหารที่มีประสิทธิภาพเพื่ออำนวยความสะดวกให้แก่ลูกค้าและพนักงานขายของทางร้าน
        และให้ลูกค้าได้รับความพึงพอใจในการบริการมากที่สุด
        ระบบเก่าจะรับรายการอาหารด้วยการจดรายการอาหาร
        ทำให้อาจสูญหายหรือลงข้อมูลผิดพลาดได้
        มีการสื่อสารผิดพลาดทำให้ได้รับอาหารไม่ถูกต้อง ไม่มีการจัดเก็บข้อมูลต่าง
        ๆ ในร้านอย่างเป็นระเบียบ ทำให้ยากแก่การตรวจสอบ
        การชำระค่าอาหารมีความผิดพลาดเนื่องมาจากการคิดราคาอาหารผิด
        จึงทำให้ร้านอาหารที่มีการนำเทคโนโลยีเข้ามาใช้ในการจัดการร้านอาหารจะมีความได้เปรียบมากกว่าร้านที่ใช้การคำนวณเอง
      </p>
      <p class="lead" style="word-spacing:30px;">
        ทางผู้จัดทำเล็งเห็นถึงปัญหาอันเนื่องมาจากที่ระบบเก่านั้นมีความล่าช้า
        ไม่สะดวกรวดเร็ว และการตกหล่นของรายการอาหาร การคิดคำนวณค่าอาหารที่ผิดพลาด
        เป็นต้น
        จึงจัดทำระบบการจัดการร้านอาหารเพื่อตอบสนองการบริหารจัดการร้านอาหารให้มีความสะดวกรวดเร็วและถูกต้องแม่นยำ
        ในการบริหารจัดการร้านอาหาร
      </p>
    </div>
    <div class="col-md-5">
      <img
      src="assets/images/attarote3.jpg" style="margin-top: 20px;"
        class="
          bd-placeholder-img bd-placeholder-img-lg
          featurette-image
          img-fluid
          mx-auto
        "
        width="500"
        height="500"
        
      >
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">1.2 วัตถุประสงค์</h2>
      <ol class="lead">
        <li>เพื่อวิเคราะห์และออกแบบระบบการจัดการร้านอาหาร</li>
        <li>เพื่อพัฒนาระบบการจัดการร้านอาหาร</li>
        <li>เพื่อศึกษาความพึงพอใจของผู้ใช้ระบบการจัดการร้านอาหาร</li>
      </ol>
    </div>
    <div class="col-md-5 order-md-1">
      <img
      src="assets/images/161018668976.jpg"
        class="
          bd-placeholder-img bd-placeholder-img-lg
          featurette-image
          img-fluid
          mx-auto
        "
        width="500"
        height="500"
        
      >
      
        
   
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">1.3 ลักษณะและขอบเขตของโครงงาน</h2>
      <p class="lead">
        ระบบการจัดการร้านอาหาร (กรณีศึกษา......)
        ได้จัดทำเป็นระบบบริหารจัดการร้านอาหารเพื่อเข้ามาช่วยให้การบริการของร้านอาหารมีประสิทธิภาพมากยิ่งขึ้น
        ซึ่งภายในระบบ จะประกอบไป ด้วย 4 ส่วน คือ เจ้าของร้านอาหาร พนักงานคิดเงิน
        ลูกค้า และพนักงานครัว
      </p>

        <dl class="lead">
          <dt>1.3.1  ลักษณะ</dt>
          <dd>1)  สามารถบริหารการจัดการร้านอาหารได้</dd>
          <dd>2)  ผู้ดูแลระบบสามารถตรวจสอบข้อมูลภายในร้านอาหารได้</dd>
          <dt>1.3.2  ขอบเขตของโครงงาน</dt>
          <dd>1)  เจ้าของร้านอาหาร</dd>
          <dd>1.1)  การจัดการข้อมูลพื้นฐาน สามารถเพิ่ม ลบ แก้ไข ข้อมูลได้</dd>
          <dd>ก.  ข้อมูลอาหาร</dd>
          <dd>ข.  ข้อมูลราคา</dd>  
          <dd>ค.  ข้อมูลพนักงาน</dd>
          <dd>ง.  ข้อมูลวัตถุดิบ</dd> 
          <dd>จ.  ตรวจสอบรายงาน รายรับ/รายจ่ายรายวันรายเดือนรายปี</dd>
          <dd>ฉ.  ตรวจสอบการสั่งซื้อวัตถุดิบรายวันรายเดือนรายปี</dd>
          <dt>2)  พนังงานคิดเงิน</dt>
          <dd>2.1)  การจ่ายเงินและการรับชำระเงิน</dd>
          <dd>ก.  จัดการคำนวณเงินค่าอาหาร</dd>
          <dd> ข.  ออกใบเสร็จให้กับลูกค้า</dd>
          <dd>ค.  ตรวจสอบรายการอาหาร</dd>
          <dd> ง.  บันทึกการรับชำระค่าอาหาร</dd>
          <dt> 3)  ลูกค้า</dt>
          <dd>3.1)  ลูกค้าสามารถใช้งานระบบได้ ดังนี้</dd>
          <dd>ก.  สั่งรายการอาหาร</dd>
          <dd>ข.  ตรวจสอบรายการอาหารที่สั่ง</dd>
          <dd>ค.  ยกเลิกรายการอาหาร</dd>
          <dt>4)  พนักงานครัว</dt>
          <dd>4.1)  รับรายการอาหารและยืนยันรายการอาหาร</dd>
          <dd>ก.  รับรายการอาหารที่ลูกค้าสั่ง</dd>
          <dd>ข.  ยืนยันรายการอาหารเมื่อทำอาหารเสร็จ</dd>                          
       
    </dl>
    </div>
    
    <div class="col-md-5">
      <img
      src="assets/images/Mahanakorn-8.jpg"
        class="
          bd-placeholder-img bd-placeholder-img-lg
          featurette-image
          img-fluid
          mx-auto
        "
        width="500"
        height="2000"
        
      >
        
      
    </div>
  </div>

  

  <!-- /END THE FEATURETTES -->



