@import "antd/dist/reset.css";

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
html{
  font-family: 'Kanit', sans-serif ;
  src: url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

}
body{ 
  
  font-family: 'Kanit', sans-serif ;  
  src: url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
}


.ant-layout-content{
  font-family: 'Kanit', sans-serif;

}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-layout-content {
  flex: auto;
  min-height: 0;
  padding: 0 !important;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
  font-family: 'Kanit', sans-serif;

}

/* styles.css */
@font-face {
  font-family: 'Kanit'; /* Font name for reference */
  src: url('../public/fonts/Kanit,Sarabun/Kanit/Kanit-Regular.ttf') format('truetype'); /* Adjust the path as needed */
}

.my-custom-font {
  font-family: 'Kanit', sans-serif; /* Use the font name defined in @font-face */
}

@font-face {
  font-family:'Sarabun';
  src: url('/fonts/Kanit,Sarabun/Sarabun/Sarabun-Regular.ttf');
}
.layout-dashboard .ant-layout-content {
  padding: 0;
  margin: 0 20px 0;
}
/* .layout-default .ant-layout-content {
  padding-top: 40px;
} */
main.ant-layout-content.content-ant {
  padding-left: 0px !important;
}
.bnb2 {
  color: #52c41a;
  font-weight: 700;
}
.mb-24 {
  margin-bottom: 24px;
}
.ant-card.criclebox {
  box-shadow: 0px 20px 27px #0000000d;
  border-radius: 12px;
}

.number span {
  font-weight: 600;
  color: #8c8c8c;
  font-size: 14px;
}
.number h3 {
  font-weight: 700;
  margin-bottom: 0px;
  font-size: 30px;
}

.number h3 small {
  font-weight: 600;
  font-size: 14px;
}

.ant-card.criclebox .project-ant {
  padding-left: 24px;
  padding-right: 24px;
}

.ant-card.criclebox table th {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
}
.icon-box {
  width: 48px;
  height: 48px;
  text-align: center;
  background: #1890ff;
  color: #fff;
  border-radius: 0.5rem;
  margin-left: auto;
  line-height: 55px;
}

.icon-box span {
  color: #fff;
  font-size: 24px;
}
.bar-chart {
  background: transparent
    linear-gradient(62deg, #00369e 0%, #005cfd 53%, #a18dff 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 4px 6px #0000001f;

  border-radius: 8px;
}
.bar-chart {
  width: 100% !important;
  max-width: 100%;
}
.full-width {
  max-width: 100% !important;
}
.bar-chart {
  width: 100% !important;
}
@media (max-width: 1024px) {
  .bar-chart {
    max-width: 100%;
  }
  .full-width {
    max-width: 100%;
  }
}
.bar-chart line.apexcharts-xaxis-tick {
  stroke: transparent;
}
.chart-vistior {
  margin-top: 30px;
}

.chart-vistior h5 {
  margin: 0px;
  font-weight: 700;
}
.ant-typography.lastweek {
  color: #8c8c8c;
  font-weight: 600;
}

.chart-visitor-count h4 {
  margin: 0px;
  font-weight: 700;
}

.chart-visitor-count span {
  color: rgba(0, 0, 0, 0.65);
  font-weight: 600;
}

.ant-card.criclebox .project-ant {
  padding-left: 24px;
  padding-right: 24px;
}

.ant-card.criclebox table th {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
}
.ant-card.criclebox {
  box-shadow: 0px 20px 27px #0000000d;
  border-radius: 12px;
}

.ant-card.tablespace .ant-card-body {
  padding: 0px;
}
.tablespace .ant-card-head-title {
  font-size: 20px;
  font-weight: 600;
}
.tablespace {
  overflow: hidden;
}